.wrapper {
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.mobileBg {
  background: none;
}

.content {
  flex-direction: column;
  align-items: start;
  margin-left: 74px;
  justify-content: center;
}

.mainScreen {
  margin-left: 24px;
  margin-right: 24px;
  height: 564px;
  background: right no-repeat url(./bg-desktop.jpg);
  width: 1260px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.title {
  font-size: 40px;
  margin-bottom: 26px;
  font-weight: 700;
}

.description {
  margin-bottom: 30px;
  font-weight: 400;
  color: #4f4f4f;
}

@media screen and (max-width: 1200px) {
  .mainScreen {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }

  .content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #f1f1f1;
    padding-top: 28px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .description {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
  }

  .mobileBg {
    box-shadow: 0 12px 10px -2px #f1f1f1 inset;
    width: 100%;
    min-height: 320px;
    background: right no-repeat url(./bg-desktop.jpg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .buttonWrapper {
    margin-bottom: 40px;
  }

  .mainScreen {
    flex-direction: column;
    height: 510px;
    width: 100%;
    margin: 0;
    background-image: none;
  }
}
