.header {
  margin-bottom: 24px;
}

@media screen and (max-width: 680px) {
  .header {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .hamburgerMenu {
    display: none !important;
  }

  .header {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 1023px) {
  .headerLinks {
    display: none !important;
  }

  .getCall {
    display: none !important;
  }
}

.phoneNumber {
  margin-left: auto;
}

.links {
  padding: 0 14px; 
}

@media screen and (max-width: 1200px) {
  .links {
    padding: 8px;
  }
}

.links:hover {
  color: #17b9a5;
  text-decoration: none !important;
}

.hamburgerLinks:hover {
  text-decoration: none !important;
}
